<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MenuViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2EC36C71D542F3200533A2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EC36E01D542F3200533A2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EC36EB1D542F3200533A2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
